/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
    color: #3a3a3a;
    margin: 0;
    text-align: center;
}

p {
	font-size: .95em;
    margin-bottom: 1.8em;
    padding-bottom: 10px;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
    text-align: center;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
a {
    text-decoration: none;
    color: #999;
  }
  a:hover {
    color: #6633ff;
  }
.nav{
    display: flex;
    justify-content: space-between;
    color: #161717;
    padding: 0px;
}
.header{
    background-color: #ebedec;
}
.container{
    width: 90%;
    margin: auto;
}
.intro {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.active{
    background-color: white;
    border: #161717;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 10px;
}
a {
    color: #161717;
}
.student-name{
    padding-top: 30px;
    margin-top: 0;
}
.main-nav {
    list-style-type: none;
    padding-left: 0;
    color: white;
}
/* This is making the footers on the right side take up much space */
.desktop-nav {
    display: none;
  }  
.p1{
    max-width: 90%;
    margin: auto;
}
/* ================================= 
  Media Queries 
==================================== */
@media (min-width: 768px) {

    .active{
       display: inline-block;
       background-color: transparent;
    }

	.clearfix::after {
		content: "";
		display: table;
		clear: both;
    }
    .p1{
        width: 50%;
        text-align: left;
    }
    .img1{
        width: 50%;
        background-color: gray;
    }
    .col{
        float: right;
    }
    .marketing,
    .search,
    .Travel,
    .Map,
    .Photo,
    .calculator{
        width: 50%;
    }
    .float{
        float: left;
        padding-left: 30px;
    }
    .links h3{
        padding-left: 40px;
    }
    .desktop-nav {
        display: inline-block;
      }
    .mobile-nav{
        display: none;
    }
}
@media (min-width: 1024px) {

    .marketing,
    .search,
    .Travel,
    .Map,
    .Photo,
    .calculator{
        width: 33%;
    }
    .float{
        float: left;
        padding-left: 10px;
    }
    .first-header{
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin: auto;
    }
}